@media (max-width: 600px) {

.div-middle{
    width: 50%;
    height: auto;
}
.div-right{
    width: 30%;
    height: auto;
}
.right-top, .right-title, .right-body{
    width: 200px;
    margin-left: 90%;
}
.middle-navbar{
    margin-left: 0px;
    width: 147%;
    height: 100px;
}
.top-name {
    width: auto;
    font-size: 15px;
    margin-left: 5px;
}
.top-button button, .seeall-button{
    font-size: 12px;
    width: auto;
}
.top-button{
    margin-left: 0px;
}
.right-footer{
    margin-left: 140%;
}
.p {
    font-size: 12px;
    width: 200px;
}
.top-name span, .top-name, .right-title, .prof-img span {
    font-size: 12px;
}
.prof-img span{
    margin-left: 10px;
}

.box {
    height: auto;
    width: 250px;
    margin-left: 60%;
}
.post img {
    height: 300px;
    width: 190px;
}
.prof-img .more {
    margin-left: 10%;
    font-size: 15px;
}
.prof-img img {
    height: 40px;
    width: 40px;
}
.prof-img{
    padding: 10px;
}
.icons i{
    padding: 10px;
    font-size: 20px;
}
#fav1, #fav2, #fav3 {
    margin-left: 70px;
}
.left-top img {
    height: 40px;
    width: 80px;
    padding: 5px;
}
.left-body ul a li, .left-bottom ul a li {
    margin-left: 0px;
    font-size: 10px;
    padding: 0px;
    width: 100%;
}
.left-body ul a li i {
    font-size: 10px;
    padding: 10px;
}
.div-left{
    height: auto;
    width: 24%;
}
.left-body, .left-bottom{
    height: auto;
    width: 100px;
}
.left-bottom{
    margin-top: 50px;
}
.nav-img{
    height: 40px;
    width: 40px;
    padding: 2px;
    margin: 5px;
    font-size: 12px;
    margin-top: 0px;
}
.img10, .img11, .img12, .img13{
    display: none;
} 
}
